<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <h1>Welcome to edfa3ly Task</h1>>
        
    </head>
    <body>

    <h2>Routing Options</h2>

        <input type="button" onclick="location.href='/products';" value="Go to Products">

        <input type="button" onclick="location.href='/cart';" value="Go to Cart">

        <input type="button" onclick="location.href='/products/add';" value="Add Products">
    </body>
</html>